events {
    worker_connections 1024;
}

http {
    upstream app {
        server api:3000;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://app;
        }

        location /healthz {
            proxy_pass http://app/healthz;
        }

        location /metrics {
            proxy_pass http://app/metrics;
        }
    }
}
